<template>
    <div class="stopwatch-holder">
        <h3>{{counter | timeFilter }}</h3>
        <div class="button-holder">
            <button class="btn btn-default" @click="start()">Start</button>
            <button class="btn btn-success" @click="stop()">Stop</button>
            <button class="btn btn-danger" @click="reset()">Reset</button>
        </div>
    </div>
</template>
<script>
  import momentFormatter from '../../../node_modules/moment-duration-format/lib/moment-duration-format'// eslint-disable-line no-unused-vars
  import moment from '../../../node_modules/moment/moment'

  export default {
    data: function () {
      return {
        counter: 0,
        interval: ''
      }
    },
    filters: {
      timeFilter: function (value) {
        return moment.duration(value, 'seconds').format()
      }
    },
    methods: {
      start: function () {
        this.interval = setInterval(() => {
          this.counter += 1
        }, 1000)
      },
      stop: function () {
        clearInterval(this.interval)
      },
      reset: function () {
        clearInterval(this.interval)
        this.counter = 0
      }
    }
  }
</script>