<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <track-item v-for="task in tasks" v-bind:item="task"></track-item>
                <button class="btn btn-default" @click="getTasks()">Get Tasks from server</button>
                {{serverTasks}}
            </div>
        </div>
    </div>
</template>
<script>
  import trackItem from './Track/track-item.vue'
  import axios from 'axios'

  export default {
    name: 'track',
    components: {trackItem},
    data: function () {
      return {
        tasks: [{
          name: 'DES-6',
          link: 'http://jira.projestic.com/browse/DES-6'
        }, {
          name: 'STIV-9',
          link: 'http://jira.projestic.com/browse/STIV-9'
        }],
        serverTasks: {}
      }
    },
    methods: {
      getTasks: function () {
        axios.post('http://jira.projestic.com/rest/auth/1/session', {
          'username': 'anton.lobodenko',
          'password': '380636352772'
        }).then((res) => {
          console.log(res)
        })
      }
    }
  }
</script>