<template>
    <div class="item-holder">
        <div>{{item.name}}</div>
        <div>{{item.link}}</div>
        <stopwatch></stopwatch>
    </div>
</template>
<script>
  import stopwatch from '../stopwatch.vue'

  export default {
    props: ['item'],
    components: {stopwatch}
  }
</script>