<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import Bootstrap from 'bootstrap/dist/css/bootstrap.css' // eslint-disable-line no-unused-vars
  export default {
    name: 'my-project'
  }
</script>

<style>
  /* CSS */

</style>
